extends layout

block content
  h1= title
  p Welcome to #{title}

  h1 Messages 

  ul 
    each message in messages 
      li 
        h1 #{message.user} 
        p #{message.text} 
        p #{message.added}

    else 
      li There are no messages. 
